<div class="p-3 bg-white rounded-lg shadow-sm">
  <!-- Normal State - Full width layout -->
  <div *ngIf="!isCreating" class="w-full flex items-center gap-2">
    <div class="flex-1">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
        <mat-label>Document Store</mat-label>
        <mat-select [value]="selectedStore" (selectionChange)="onStoreSelected($event.value)">
          <mat-option *ngFor="let store of stores" [value]="store">
            {{ store.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-stroked-button color="warn" (click)="deleteCurrentStore()" [disabled]="!selectedStore"
      class="flex-shrink-0">
      <mat-icon class="mr-1 scale-90">delete</mat-icon>
      Delete
    </button>

    <button mat-raised-button color="primary" (click)="toggleCreate()" class="flex-shrink-0">
      <mat-icon class="mr-1 scale-90">add</mat-icon>
      New Store
    </button>
  </div>

  <!-- Create State - Full width layout -->
  <div *ngIf="isCreating" class="w-full flex items-center gap-2">
    <div class="flex-1">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
        <mat-label>New Store Name</mat-label>
        <input matInput [(ngModel)]="newStoreName" placeholder="e.g., Project Docs" (keyup.enter)="createStore()"
          autofocus>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="createStore()" [disabled]="!newStoreName" class="flex-shrink-0">
      <mat-icon class="mr-1 scale-90">check</mat-icon>
      Create
    </button>

    <button mat-stroked-button (click)="toggleCreate()" class="flex-shrink-0">
      <mat-icon class="mr-1 scale-90">close</mat-icon>
      Cancel
    </button>
  </div>
</div>